:root {
    --lightOrange:hsl(15, 100%, 70%); /*work*/
    --softBlue:hsl(195, 74%, 62%); /*play*/
    --lightRed:hsl(348, 100%, 68%); /*study*/
    --limeGreen:hsl(145, 58%, 55%); /*exercise*/
    --violet:hsl(264, 64%, 52%); /*social*/
    --softOrange:hsl(43, 84%, 65%); /*self care*/
    --veryDarkBlue:hsl(226, 43%, 10%);
    --darkBlue:hsl(235, 46%, 20%);
    --desaturatedBlue: hsl(235, 45%, 61%);
    --paleBlue:hsl(236, 100%, 87%);

    --widthDefault: 10vw;
    --fontSmall: 1.5vw;
    --fontMedium: 2.0vw;
    --paddingDefault: 7vh 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: .5em;
    font-family: 'Rubik', sans-serif;
    background-color: var(--veryDarkBlue);

    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.tablero {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 1em;
    pointer-events:none;
}

.estadisticas {
    width: var(--widthDefault);
    border: 5px solid var(--softBlue);
    pointer-events:none;
}

.estadisticas p {
    font-size: var(--fontSmall);
    color: var(--paleBlue);
    text-align: center;
    padding-top: 5px;
}

.reset {
    position: relative;
    width: 50%;
    margin-top: .4em;
    padding: .2em;
    border-radius: 10px;
    background-color: var(--lightOrange);
    font-size: var(--fontSmall);
    cursor: pointer;
    pointer-events: auto;
}

.molde {
    width: var(--widthDefault);
    border-radius: 15%;
    background: url(../img/fondoPrincipal.png) no-repeat #EA6B66;
    background-position: center center;
    background-size: 100% 100%;
    cursor: pointer;
    pointer-events: auto;
}

.molde, .estadisticas {
    padding: var(--paddingDefault);
}

.molde:hover {
    outline: 3px solid var(--paleBlue);
}

.molde p {
    color: var(--paleBlue);
    text-align: center;
    display: none;
}

.numero {
    font-size: var(--fontMedium);
}

.nombre {
    font-size: var(--fontSmall);
}

.active {
    background: #1f87a1;
    pointer-events:none;
}

.active p {
    display: block;
}

.resuelta {
    background: #1f87a1;
    pointer-events:none;
}

.resuelta p {
    display: block;
}
